<section class="chat-section">  
    <ng-container *ngIf="selectedContact">
        <header class="chat-section__header">
            <img src="{{ selectedContact.photo }}" alt="contact-photo" class="contact-photo">
            <h2 class="contact-name">{{ selectedContact.name }}</h2>
        </header>

        <div class="chat-area">
            <div class="message-wrap" *ngFor="let message of selectedContact.messages" >             
                    <div class="message-inside-wrap" *ngIf="message.id; else myContact" >
                        <img src="{{ selectedContact.photo }}" alt="client-photo" class="message-photo">
                        <div class="message-info__block">
                            <p class="message-text">{{ message.currentText}}</p>
                            <p class="message-datepoint">{{ message.currentDate | date : "short"}}</p>
                        </div>
                    </div>  
                    <ng-template #myContact>
                        <div class="my-message-wrap">
                            <div class="my-message-info__block">
                                <p class="my-message-text">{{ message.currentText}}</p>
                                <p class="my-message-datepoint">{{ message.currentDate | date : "short"}}</p>
                            </div>
                        </div>
                    </ng-template>  
            </div>
        </div>
        <form action="" class="message-form" method="get" #myForm="ngForm">
            <input type="text" class="message-input" placeholder="Type your message"  name="message-input"  #messageText>
            <button type="submit" class="send-button" (click)="addMessage(messageText.value); messageText.value=''">
            <img src="{{ assetsPath.getFullPath('/assets/img/send_message.png') }}" width="30" height="30" alt="send-message" class="send-icon">
            </button>
        </form>
    </ng-container>

</section>

