/* You can add global styles to this file, and also import other style files */

// :root{
//     --primary-color: #dc3545;
//     --dark-color: #333;
//     --light-color: #f4f4f4;
// }

html {
    height: 100vh;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    background-color: #DCDCDC;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

input {
    display: block;
    width: 90%;
    font-size: 14px;
    border: 1px solid #F5F5F5;
    outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-size-adjust: 16px;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}



// .container{
//     max-width: 1100px;
//     margin: auto;
//     overflow: hidden;
//     padding: 0 2rem;
// }




